@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --dark-bg: #070707;
    --white: #FFFFFF;
    --primary: #F7A325;
}

@font-face {
  font-family: 'Azonix';
  src: url('assets/Azonix.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
    box-sizing: border-box;
    color: #fff;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: #000000 !important;
    overflow-x: hidden;
}

.section {
  height: 100vh;
  overflow-y: auto;
}

.section__item {
  min-height: 100vh;
}

#bgvid {
	z-index: -1 !important;
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: absolute !important;
	top: 0;
	left: 0;
	z-index: -9999;
	filter: brightness(45%);
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}