<video autoplay [muted]="true" loop playsinline preload="auto" onloadedmetadata="this.muted = true" id="bgvid">
    <source src="/assets/video/voltach_bg.mp4" type="video/mp4">
</video>
<main>
    <h2>VOLTACH4</h2>
    <div>
        <h1>GO <span>BOLD</span> ON REDUCING METHANE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium amet nobis voluptates itaque quia
            mollitia optio, doloribus eos similique aspernatur aliquid deserunt.</p>
    </div>
    <h2 style="opacity: 0;">VOLTACH4</h2>
</main>
<section id="about" class="row">
    <div class="col-12 col-lg-6 m-0">
        <img-comparison-slider hover="hover">
            <img slot="first" src="assets/after.jpg" height="100%"/>
            <img slot="second" src="assets/before.jpg" width="100%" height="auto"/>
        </img-comparison-slider>
    </div>
    <div class="col-12 col-lg-6">
        <h1 class="text-center">ABOUT</h1>
    </div>
</section>
<section id="technology" class="row">
    <div class="col-12 col-lg-6">
        <h1 class="text-center">TECHNOLOGY</h1>
    </div>
    <div class="col-12 col-lg-6">
        <img-comparison-slider hover="hover">
            <img slot="first" src="assets/after.jpg" height="100%"/>
            <img slot="second" src="assets/before.jpg" width="100%" height="auto"/>
        </img-comparison-slider>
    </div>
</section>
<section id="possibilities" class="row">
    <h1 class="col-12 text-center">POSSIBILITIES</h1>
    <div class="col-12 col-md-6 col-lg-3"></div>
    <div class="col-12 col-md-6 col-lg-3"></div>
    <div class="col-12 col-md-6 col-lg-3"></div>
    <div class="col-12 col-md-6 col-lg-3"></div>
</section>
<footer>
    
</footer>