<div class="section">
    <div class="section__item">
        <img class="mt-4 logo" src="assets/voltach4_logo.svg" alt="" height="50px">
        <div>
            <h1>METHANE EMISSION DETECTION AND QUANTIFICATION INTELLIGENCE</h1>
            <p>VOLTACH4 is an advanced methane (CH₄) detection and quantification solution using satellite, drone
                imagery and machine learning algorithm.
                <br><br>
                With responsible pollution monitoring and better performance, we can ensure a better future for us, and
                all generations to come.
            </p>
        </div>
        <h2 style="opacity: 0;">VOLTACH4</h2>
    </div>
    <div class="section__item d-flex align-items-center justify-content-between">
        <section id="about" class="row">
            <div class="col-12 col-lg-6 g-0">
                <img-comparison-slider hover="hover">
                    <img slot="first" src="assets/after.jpg" height="100%" />
                    <img slot="second" src="assets/before.jpg" width="100%" height="auto" />
                </img-comparison-slider>
            </div>
            <div class="col-12 col-lg-6 g-0 d-flex flex-column justify-content-center align-items-center text-center">
                <h1 class="text-center pb-5">ABOUT <span class="green">METHANE</span></h1>
                <div class="row about">
                    <div
                        class="col-12 col-lg-6 d-flex flex-column justify-content-start align-items-center text-center pb-5">
                        <h2>30<span class="green">%</span></h2>
                        <p>Rapidly reducing methane from from oil and gas operations, agriculture and other sectors
                            could slow
                            the rate of global warming by as much as 30%.</p>
                    </div>
                    <div
                        class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center text-center pb-5">
                        <h2><span class="green">x</span>2</h2>
                        <p>Since the Industrial Revolution, methane concentrations in the atmosphere have more than
                            doubled.</p>
                    </div>
                    <div
                        class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center text-center pb-3">
                        <h2>2<span class="green">M</span></h2>
                        <p>The Permian Basin, the largest oil field on the planet, alone releases enough methane each
                            year to
                            meet the annual gas needs of nearly 2 million homes.</p>
                    </div>
                    <div
                        class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center text-center pb-3">
                        <h2>60<span class="green">%</span></h2>
                        <p>Scientists think that 60% of the methane in the atmosphere comes from human-caused sources.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="technology" class="section__item d-flex align-items-center justify-content-between row m-auto">
        <div class="col-12 col-lg-6 p-4 g-0 d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-center pb-3"><span class="green">VOLTACH4</span> TECHNOLOGY</h1>
            <p>Our solution for reducing methane emissions:</p>
            <br><br>
            <p>
                <span>⦿</span> High-precision methane source geo-tracking.
                <br><br>
                <span>⦿</span> Methane emission 3D observation.
                <br><br>
                <span>⦿</span> Advanced quantification with AI.
                <br><br>
                <span>⦿</span> Bold solution for the enviromental challenge.
            </p>
        </div>
        <div class="col-12 col-lg-6 g-0 d-flex flex-column justify-content-center align-items-center">
            <iframe src="https://www.youtube.com/embed/CKXFgHXo2Hk" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="section__item d-flex align-items-center justify-content-between">
        <section id="possibilities" class="row m-auto">
            <h1 class="col-12 text-center pb-3 pt-5">FOR THE <span class="green">SUSTAINABLE</span> FUTURE</h1>
            <h6 class="col-12 text-center pb-5">VOLTACH4 remote sensing is going beyond methane inspection in oil and
                gas assets.</h6>
            <div class="col-12 col-md-6 col-lg-4 text-center">
                <img src="assets/icons/1.png" alt="" height="80px">
                <h3>GAS LEAKAGE</h3>
                <p>Identification and quantification of CH4, CO2, and other environmentally harmful gases</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center">
                <img src="assets/icons/2.png" alt="" height="80px">
                <h3>PIPELINE INSPECTION</h3>
                <p>Non-intrusive inspection and monitoring of pipeline conditions</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center">
                <img src="assets/icons/3.png" alt="" height="80px">
                <h3>AGRICULTURE</h3>
                <p>Identification of plant health and soil fertility</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center">
                <img src="assets/icons/4.png" alt="" height="80px">
                <h3>CONSTRUCTION</h3>
                <p>Change/progress monitoring and inventory management</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center">
                <img src="assets/icons/5.png" alt="" height="80px">
                <h3>MINING EXPLORATION</h3>
                <p>Detailed survey of the prospective areas and mineral mapping</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center">
                <img src="assets/icons/6.png" alt="" height="80px">
                <h3>URBAN PATTERNS</h3>
                <p>Traffic flows and behavior analysis</p>
            </div>
        </section>
    </div>
    <div class="section__item d-flex flex-column align-items-center justify-content-between">
        <section class="row m-auto">
            <h1 class="col-12 text-center pb-3 pt-5">GET <span class="green">IN</span> TOUCH</h1>
            <form id="form" class="col-12 topBefore">

                <input id="name" type="text" placeholder="FIRST NAME" required>
                <input id="name" type="text" placeholder="LAST NAME" required>
                <input id="email" type="text" placeholder="EMAIL" required>
                <input id="email" type="text" placeholder="PHONE NUMBER" required>
                <textarea id="message" type="text" placeholder="WRITE YOUR MESSAGE" required></textarea>
                <input id="submit" type="submit" value="SUBMIT">

            </form>
            <div class="col-12 d-flex flex-row justify-content-center align-items-center pb-5">
                <img class="m-3 mt-0" src="assets/address.svg" alt="" height="30px">
                <h6 class="text-center">Uzeyir Hajibeyli 57, Block A, Floor 2</h6>
            </div>
            <div id="logos" class="m-auto text-center">
                <img src="assets/eiGorup_logo.svg" alt="" height="80px">
                <img src="assets/voltach4_vertical.svg" alt="" height="80px">
            </div>
            <div class="col-12 col-lg-6 text-center copyright m-auto">
                <h5>Copyright © 2022 <span class="green">VOLTACH4</span>. All rights reserved</h5>
            </div>
        </section>

    </div>
</div>