<video autoplay [muted]="true" loop playsinline preload="auto" onloadedmetadata="this.muted = true" id="bgvid">
    <source src="/assets/video/voltach_bg.mp4" type="video/mp4">
</video>
<main>
    <img class="mt-4" src="assets/voltach4_logo.svg" alt="" height="50px">
    <div>
        <h1>SMART SOLUTION TO CURB <span>CLIMATE CHANGE</span></h1>
        <p>VOLTACH4 is an advanced methane (CH₄) detection and quantification solution using satellite and drone imagery
            and a machine learning algorithm.
            <br><br>
            With responsible pollution monitoring and better performance, we can achieve a future that’s 100% clean.
        </p>
    </div>
    <h2 style="opacity: 0;">VOLTACH4</h2>
</main>
<section id="about" class="row">
    <div class="col-12 col-lg-6 g-0">
        <img-comparison-slider hover="hover">
            <img slot="first" src="assets/after.webp" height="100%" />
            <img slot="second" src="assets/before.webp" width="100%" height="auto" />
        </img-comparison-slider>
    </div>
    <div class="col-12 col-lg-6 g-0 d-flex flex-column justify-content-center align-items-center text-center">
        <h1 class="text-center pb-5">ABOUT METHANE</h1>
        <div class="row about">
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-start align-items-center text-center pb-5">
                <h2>30%</h2>
                <p>Rapidly reducing methane from from oil and gas operations, agriculture and other sectors could slow
                    the rate of global warming by as much as 30%.</p>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center text-center pb-5">
                <h2><span>x</span>2</h2>
                <p>Since the Industrial Revolution, methane concentrations in the atmosphere have more than doubled.</p>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center text-center pb-3">
                <h2>2M</h2>
                <p>The Permian Basin, the largest oil field on the planet, alone releases enough methane each year to
                    meet the annual gas needs of nearly 2 million homes.</p>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center text-center pb-3">
                <h2>60%</h2>
                <p>Scientists think that 60% of the methane in the atmosphere comes from human-caused sources.</p>
            </div>
        </div>
    </div>
</section>
<section id="technology" class="row">
    <div class="col-12 col-lg-6 g-0 d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center pb-5">VOLTACH4 TECHNOLOGY</h1>
        <p>Our solution for reducing methane emissions:
            <br><br>
            1. High-precision methane source geo-tracking
            <br><br>
            2. Methane emission 3D observation
            <br><br>
            3. Advanced calculation with AI
            <br><br>
            4. Bold solution for the enviromental challenge
            </p>
    </div>
    <div class="col-12 col-lg-6 g-0 d-flex flex-column justify-content-center align-items-center">
        <img src="assets/draft.jpg" alt="">
    </div>
</section>
<section id="possibilities" class="container row m-auto">
    <h1 class="col-12 text-center pb-5 pt-5">FOR THE SUSTAINABLE FUTURE</h1>
    <div class="col-12 col-md-6 col-lg-4 text-center">
        <img src="assets/icons/1.png" alt="" height="80px">
        <h3>GAS LEAKAGE</h3>
        <p>Identification and quantification of CH4, CO2, and other environmentally harmful gases</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 text-center">
        <img src="assets/icons/2.png" alt="" height="80px">
        <h3>PIPELINE INSPECTION</h3>
        <p>Non-intrusive inspection and monitoring of pipeline conditions</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 text-center">
        <img src="assets/icons/3.png" alt="" height="80px">
        <h3>AGRICULTURE</h3>
        <p>Identification of plant health and soil fertility</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 text-center">
        <img src="assets/icons/4.png" alt="" height="80px">
        <h3>CONSTRUCTION</h3>
        <p>Change/progress monitoring and inventory management</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 text-center">
        <img src="assets/icons/5.png" alt="" height="80px">
        <h3>MINING EXPLORATION</h3>
        <p>Detailed survey of the prospective areas and mineral mapping</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 text-center">
        <img src="assets/icons/6.png" alt="" height="80px">
        <h3>URBAN PATTERNS</h3>
        <p>Traffic flows and behavior analysis</p>
    </div>
</section>
<footer>
    <h1 class="text-center">WANT TO WORK WITH US?</h1>
    <div class="container mb-3">
        <div class="screen">
            <div class="screen-header">
                <div class="screen-header-left">
                    <div class="screen-header-button close"></div>
                    <div class="screen-header-button maximize"></div>
                    <div class="screen-header-button minimize"></div>
                </div>
                <div class="screen-header-right">
                    <div class="screen-header-ellipsis"></div>
                    <div class="screen-header-ellipsis"></div>
                    <div class="screen-header-ellipsis"></div>
                </div>
            </div>
            <div class="screen-body">
                <div class="screen-body-item left">
                    <div class="app-title">
                        <span>CONTACT</span>
                        <span>US</span>
                    </div>
                    <!-- 
                    <div class="app-contact">CONTACT INFO : +62 81 314 928 595</div> -->
                </div>
                <div class="screen-body-item">
                    <div class="app-form">
                        <div class="app-form-group">
                            <input class="app-form-control" placeholder="FULL NAME">
                        </div>
                        <div class="app-form-group">
                            <input class="app-form-control" placeholder="EMAIL">
                        </div>
                        <div class="app-form-group">
                            <input class="app-form-control" placeholder="CONTACT NO">
                        </div>
                        <div class="app-form-group message">
                            <input class="app-form-control" placeholder="MESSAGE">
                        </div>
                        <div class="app-form-group buttons">
                            <button class="app-form-button">SEND</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>